<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Imagescan by utsushi</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">{{site.name}}</h1>
        <p class="header">EPSON Download Center Source Code Archives</p>

        <ul>
          <li class="download"><a class="buttons" href="{{site.repository}}/tarball/archive">Download TAR</a></li>
          <li class="download"><a class="buttons" href="{{site.repository}}/zipball/archive">Download ZIP</a></li>
          <li><a class="buttons github" href="{{site.repository}}">View On GitHub</a></li>
        </ul>

        <p class="header">Maintained by <a class="header name" href="{{site.project.url}}">{{site.project.name}}</a></p>


      </header>
      <section>
        <h1>
<a name="imagescan-source-code-archives" class="anchor" href="#imagescan-source-code-archives"><span class="octicon octicon-link"></span></a>
{{page.title}}</h1>

        {{content}}
      </section>
      <footer>
        <p><small>Hosted on <a href="http://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

  </body>
</html>
